h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
  margin-bottom: 1rem;
}

.display-1 {
	font-weight: 700;
	font-size: 64px;
}

.display-2 {
	font-weight: 700;
	font-size: 54px;
}

.display-3 {
	font-weight: 700;
	font-size: 44px;
}

p, p1, p2, p3, p4, p5, p6{
	line-height: 17px;
}

strong {}

b {}

em {}

a {}

blockquote {}

blockquote p {}

blockquote footer {}
